// media query global
$media-q-g: 1365px;

$media-q-1: 995px;
$media-q-2: 806px;
$media-q-18: 1194px;

// content_home
$media-q-3: 1169px;

// container

//banner
$media-q-4:1286px;
$media-q-5:1046px;

// section 2
$media-q-6 : 1094px;
$media-q-7  : 1014px;
$media-q-8  : 922px;
$media-q-9  : 428px;
// $media-q-10 : 372px;

// dicover
$media-q-10  : 649px;

//information
$media-q-11  : 1071px;
$media-q-12  : 964px;
$media-q-13  : 727px;
$media-q-14  : 633px;

// about
$media-q-15 : 528px;
$media-q-16 : 420px;

// contact us
$media-q-17 : 861px




// 1226
// 991