// hide navigation
$media-q-admin-1: 848px;
// display to column at ContentDashboard
$media-q-admin-2: 640px;
// size font at ContentDashboard
$media-q-admin-3: 458px;
$media-q-admin-4: 416px;
// header
$media-q-admin-5: 391px;


// 
$media-q-admin-6: 606px;
// table
$media-q-admin-7: 645px;